*.ca
*.retry
deployment/*.retry
/ovirt-flexdriver
/ovirt-flexdriver.conf
/ovirt-provisioner
/ovirt-cloud-provider
/ovirt-api.conf
deployment/container/ovirt-provisioner
*.tar.gz
.glide
.pki
exported-artifacts
mocker*
ansible.log
vendor/**/*.spec

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

## intellij catch all
.idea
*.iml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
